h2 {
    display: block;
    padding-top: 8%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-shadow: -4px 6px #C9CEBD;
    cursor: default;
  }

h3 {
    display: block;
    top: 42%;
    left: 60%;
    font-family: 'Montez', cursive;
    font-size: 24px;
    text-shadow: -4px 6px #C9CEBD;
    cursor: default;
  }

h4 {
    display: block;
    text-align: center;
    background: hsl(207, 100%, 100%);
    box-shadow: 0px 0px 10px 2px hsl(0, 0%, 90%);
    padding: 12px;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    text-shadow: -2px 1px #C9CEBD;
    border-radius: 5px;
    cursor: default;
    width: 50%;
}

.topics {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  margin-left: 10%;
  padding-top: 4%;
  line-height: 24px;
  width: 80%;
  cursor: default;
}

.first-p {
  margin-right: 30%;
  margin-left: 10%;
  margin-bottom: 3%;
}

.second-p {
  margin-right: 10%;
  margin-left: 30%;
  padding-bottom: 3%;
}

.bold {
  color: hsl(167, 100%, 40%);
  font-size: medium;
}

b {
  font-size: larger;
}

#blog {
  font-size: medium;
}

#blog:hover {
  text-decoration: underline;
}

#about-me {
  margin-right: 30%;
  margin-left: 10%;
}

#dev-blog {
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 10%;
}

.container {
  padding: 20px 5%;
  margin-right: 40px;
}

ul {
  list-style: none;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.image-gallery > li {
  flex-basis: 300px; /*width: 300px;*/
  cursor: default;
}

.image-gallery::after {
  content: "";
  flex-basis: 300px;
}

.image-gallery li img {
  box-shadow: 0px 0px 4px 2px hsl(0, 0%, 90%);
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.overlay {
  width: 100%;
  height: auto;
  padding: 4%;
  background: hsl(207, 100%, 100%);
  box-shadow: 0px 0px 1px 1px hsl(0, 0%, 90%);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.title {
  font-family: 'Permanent Marker', cursive;
  text-shadow: -2px 1px #C9CEBD;
  font-weight: bolder;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.description {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.image-gallery li:hover .overlay {
  box-shadow: 0px 0px 10px 2px hsl(0, 0%, 90%);
}

.icon-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-in-browser {
  margin-left: 10%;
  margin-right: 10%;
  color: hsl(0, 0%, 20%);
}

.share {
  margin-left: 10%;
  margin-right: 10%;
  color: hsl(0, 0%, 20%);
}

.open-in-browser:hover,
.share:hover {
  cursor: pointer;
  color: hsl(200, 80%, 40%);
}

.open-in-browser:active,
.share:active {
  color: hsl(210, 100%, 50%);
}

#profile {
  position: absolute;
  opacity: 0.6;
  top: 24vh;
  right: 4vh;
  z-index: -1;
  width: 20vh;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 2px hsl(0, 0%, 60%);
}

.contact-info {
  margin-top: 12vh;
}

form input,
textarea {
  display: flex;
  margin: 0 auto;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  text-align: center;
  outline: 0px;
  width: 40vh;
  color: hsl(0, 0%, 20%);
  background-color: transparent;
  border: transparent;
  border-bottom: hsl(0, 0%, 90%) 3px ridge;
  padding: 8px;
  margin-bottom: 4vh;
  transition: border 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  border-bottom: hsl(210, 100%, 50%) 3px solid;
}

.send {
  display: flex;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background: hsl(0, 0%, 90%);
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  padding: 1vh;
  transition: all 0.2s ease-in-out;
}

.send:hover {
  color: hsl(207, 100%, 100%);
  cursor: pointer;
  background: hsl(210, 100%, 50%);
}

footer {
  position: fixed;
  opacity: 0.6;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0px;
  border-bottom: hsl(167, 100%, 40%) 10px solid;
  text-align: left;
  color: hsl(0, 0%, 20%);
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  background: hsl(207, 100%, 100%);
  transition: all 0.2s ease-in-out;
}

footer:hover {
  border-bottom:hsl(0, 0%, 20%) 10px solid;
  background: transparent;
  opacity: 1;
  height: 40px;
}

.end-note {
  font-weight: bolder;
  font-size: larger;
  margin-left: 8%;
}