h1 {
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

/*saved for later*/
img {
  display: none;
  position: relative;
  filter: drop-shadow(3px 0px 3px #353131);
  margin-left: auto;
  margin-right: auto;
  left: 100px;
  top: 60px;
}

code { background-color: #eee; color: coral}

