@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 300vh;
}

body {
    background: #DEE7E7;
}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    opacity: 1;
    background: #F4FAFF;
    color: #353535;
    box-shadow: 0px 0px 8px 2px #353535;
    transition: all 0.4s ease-in-out;
}

.navbar:hover {
    opacity: 1;
}

#home {
    margin-left: 60px;
}

#home,
#about,
#contact,
#projects {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    /* margin-left: auto;
    margin-right: auto; */
    padding: 1%;
    transition: all 0.2s ease-in-out;
}

#home:hover,
#about:hover,
#contact:hover,
#projects:hover {
    transform: translate(0%, 4%);
    font-weight: bolder;
    scale: 1.1;
}

img {
    margin-left: 45%;
}